<div id="seleciona-edital">
</div>

<div class="modal fade" id="declinio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style=" font-weight: 500;">Deseja declinar o edital: <span
            id="declinarId"></span>?</h5>

        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Motivo declinio:</label>
          <select class="form-control" id="selectMotivo">
            <option>Selecione</option>
          </select>
          <label style="margin-top: 20px" for="exampleFormControlSelect1">Observação:</label>
          <textarea class="form-control" style="cursor: auto;" id="observacaoDeclinio" rows="3"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-secondary" style="text-transform: none; text-align: center;"
          data-dismiss="modal">Fechar</button>
        <button onclick="cadDeclinado()" type="button" data-dismiss="modal" class="btn btn-primary"
          style="text-align: center; text-transform: none;">
          Ok
        </button>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style=" font-weight: 500;">Declinado com sucesso!
        </h5>

        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div id="responseCad" style=" color: #000;">

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-secondary" style="text-transform: none; text-align: center;"
          data-dismiss="modal">Fechar</button>
        <button onclick="location.reload()" type="button" data-dismiss="modal" class="btn btn-primary"
          style="text-align: center; text-transform: none;">
          Ok
        </button>

      </div>
    </div>
  </div>
</div>



<!-- <script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->
<script src="../nts/js/fuctions.js"></script>
<!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->

<script>
  var closebtns = document.getElementsByClassName("close");
  var i;

  for (i = 0; i < closebtns.length; i++) {
    closebtns[i].addEventListener("click", function () {
      this.parentElement.style.display = 'none';
    });
  }
</script>

</body>
<script>
  getImpugnacao()
  getEtapa();
</script>